:root {
  --font-primary: "Roboto", sans-serif;
  --font-normal: 400;
  --font-bold: 600;
  --color-first: black;
  --color-second: white;
  --color-third: rgba(69, 144, 206, 100%);
  --color-fourth: rgba(227, 231, 239, 100%);
  --color-accent: rgba(231, 182, 74, 100%);
  font-size: 16px;
}
