body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 80%;
}

header {
  display: grid;
  grid-template-rows: 40% 60%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-items: center;
}
.header-top {
  display: grid;
  grid-template-columns: 70% 25%;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.user-section {
  display: grid;
  grid-template-columns: 12% 15% 60%;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  .user-name {
    justify-self: start;
  }
}
.header-bottom {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  align-items: center;
  justify-items: start;
}
main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
